<h1><%=@artist.name%></h1>
<%@artist.song.each do |song| %>
  <li><a href="/songs/<%= song.slug%>"><%=song.name%></a></li>
<%end%>
<%@artist.genres.each do |genre| %>
  <li><a href="/genres/<%= song.slug%>"><%=song.name%></a></li>
<%end%>
